body {
    min-width: 320px;
    min-height: 400px;
    background-color: rgb(244 244 244);
    padding: 20px;
}

.popup-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 2rem;
}

.popup-title > h2 {
    font-size: 1rem;
}

.popup-description {
    margin-top: 1rem;
    padding: .5rem;
    width: 280px;
    height: 100%;
    background-color: rgb(255 255 255);
    border-radius: 10px;
    cursor: context-menu;
}

.popup-description_wraper{
    border: rgb(212, 212, 212) 1px solid;
    border-radius: 10px;
    padding: 0 20px;
}

.popup-description p {
    display: block;
    margin: 1rem auto;
    font-size: .8rem;
}

.popup-message {
    margin-top: 1rem;
    padding: .5rem;
    width: 280px;
    min-height: 2rem;
    background-color: rgb(255 255 255);
    border-radius: 10px;
}

.popup-message button {
    padding: 10px 20px;
    border-radius: 5px;
    border: rgb(212, 212, 212) 1px solid;
    background-color: rgb(231, 231, 231);
    font-size: .9rem;
    cursor: pointer; 
}

.popup-message .invoice:hover{
    background-color: antiquewhite;
}

.popup-message .enabledButton{
    background-color: rgb(8, 136, 98);
    color: rgb(255, 255, 255);
}

.popup-message .disabledButton{
    background-color: rgb(192, 21, 35);
    color: rgb(255, 255, 255);
}