body {
    width: 320px;
    background-color: rgb(244 244 244);
    padding: 20px;
}

.main {
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.main::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

.popup-title {
    display: flex;
    align-items: center;
}

.title-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.popup-title > h2 {
    font-size: 0.9rem;
    text-align: center;
}

.logo-container img {
    width: 48px;
    height: 100%;
}

.popup-description {
    margin-top: 1rem;
    background-color: rgb(255 255 255);
    border-radius: 4px;
    cursor: context-menu;
}

.popup-description_wraper {
    border: rgb(212, 212, 212) 1px solid;
    border-radius: 4px;
}

.popup-description p {
    display: block;
    margin: 0.5rem auto;
    font-size: 0.9rem;
    line-height: 1.4rem;
    text-align: center;
}

.popup-option {
    margin-bottom: 0.5rem;
    padding: 0.3rem;
    min-height: 2rem;
    background-color: rgb(255 255 255);
    border-radius: 4px;
}

.enabledContainer {
    background-color: rgb(244 244 244);
}

#enabledButton {
    padding: 8px 20px;

    font-size: 0.9rem;
}

.popup-option:nth-child(3) {
    margin-top: 0.5rem;
}

.popup-option.flex-spacing {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.popup-option_title {
    margin-left: 5px;
    margin-bottom: 2px;
    flex-basis: 100%;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: left;
    cursor: context-menu;
}

.popup-option button {
    padding: 7px 10px;
    border-radius: 4px;
    border: rgb(212, 212, 212) 1px solid;
    background-color: rgb(231, 231, 231);
    font-size: 0.8rem;
    cursor: pointer;
    min-width: 125px;
}

.popup-option .normal-button:hover {
    background-color: rgb(131, 131, 131);
    color: rgb(255, 255, 255);
}

.popup-option .enabledButton {
    background-color: rgb(13, 141, 92);
    color: rgb(255, 255, 255);
}

.popup-option .disabledButton {
    background-color: rgb(180, 19, 33);
    color: rgb(255, 255, 255);
}

.popup-option .enabledButton:hover {
    background-color: rgb(9, 83, 61);
}

.popup-option .disabledButton:hover {
    background-color: rgb(97, 13, 19);
}

.hidden {
    display: none;
}
